<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>References</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<header style="border:1px solid black" th:insert="fragments/user"> </header>
	<div style="border:1px solid black" th:insert="fragments/search"> </div>
	
	<form class="form-inline" th:action="@{/ref/add}">
		<label for="targetId">Target ID:</label> <input type="text"
			id="targetId" placeholder="Enter targetId" name="targetId">
		<label for="tmdbId">TMDB ID:</label> <input type="text" id="tmdbId"
			placeholder="Enter TMDB movie ID" name="tmdbId">
		<button type="submit">Submit</button>
	</form>
	
	<p>You referred the following movies</p>
	<ul>
		<li th:each="ref: ${sourceReferences}">
			<em th:text="'Movie ' + ${ref.title} + ' ('+${ref.tmdbId}+')'"></em>
			<a th:href="@{/ref/remove(referenceId=${ref.id})}">Remove</a>
			<ol>
				<li th:each="target: ${ref.targets}">
					<em th:text="'To ' + ${target.name}"></em> <a th:href="@{/ref/remove(targetId=${target.id},referenceId=${ref.id})}">Remove</a>
				</li>
				
			</ol>
		</li>
	</ul>

	<p>Your friends have referred you the following movies</p>
	<ul>
		<li th:each="ref: ${targetReferences}"><em
			th:text="'Movie ' + ${ref.title} + ' ('+${ref.tmdbId}+')' + ' is referred from ' + ${ref.source.name}"></em>
			<a th:href="@{/ref/remove(referenceId=${ref.id})}">Remove</a>
		</li>
	</ul>

</body>
</html>